@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.loader {
  height: 65%;
  animation: spinner 2s linear infinite;
}

.text {
  max-width: 186px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
