.footer {
  justify-content: center;
  margin-top: auto;
  background-color: #029491;
  display: flex;
  width: 100%;
  height: 141px;
}

.container {
  justify-content: space-between;
  display: flex;
  width: 1440px;
  padding: 0 60px;
  align-items: center;
}

.text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.info {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-end;
}

.infoContainer {
  height: 87px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1350px) {
  .container {
    margin: 0 auto;
    width: 728px;
    padding: 0;
  }
}

@media screen and (max-width: 745px) {
  .container {
    margin: 0 auto;
    width: 335px;
    padding: 0;
  }

  .image {
    width: 111px;
    height: 111px;
    margin-bottom: 52px;
  }
}
